/* Modify the background color */
body{
    background-color: #0658A2 !important;
}

.navbar-custom, .alert-custom {
    background-color: #0E9DD9 !important;
    color: #fff !important;
}

.navbar-custom .navbar-brand, .footer-custom {
    color: #fff !important;
}

div {
    text-align: center !important;
}

.mb {
    margin-bottom: 1.5rem !important;
}

.icon-custom{
    color: #ffffff !important;
}

a{
	text-decoration: none !important;
}

.espirit-custom{
	color: #fff !important;
}

/*
Boton para ir hacia arriba en el sitio
-
Inicio
*/
.ir-arriba {
	padding:20px;
	display:inline-block;
	background:#0E9DD9;
	color:#fff;
	position: fixed;
	font-size:20px;
	bottom:20px;
	right:40px;
	display:none;
	cursor:pointer;
}

/*
Boton para ir hacia arriba en el sitio
-
Fin
*/